* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service1 {
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.service2 {
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.service3 {
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.service4 {
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
